# ignore build directories
build*/
_build/

# Ignore CMake build files
.ninja_deps
.ninja_log
build.ninja
CMakeCache.txt
CMakeCache.tmp
cmake_install.cmake
compile_commands.json
sysbuild_modules.txt
zephyr_modules.txt
zephyr_settings.txt
build_info.yml*