/*
 * Display + DRV8311H combined test pin override.
 * Applied on top of remotetwo_nrf5340_cpuapp_ns.overlay for the build_disp build.
 *
 * SPI3 MOSI rerouted to former MISO testpoint on P0.10.
 * SCK stays at P1.05.
 *
 * PWM0 channels routed to the actual INA/INB/INC pins (3PWM mode):
 *   OUT0 (INA) -> P0.07
 *   OUT1 (INB) -> P1.05
 *   OUT2 (INC) -> P0.22
 * Source: nrf5340dk_nrf5340_cpuapp_drv.overlay
 */

&pinctrl {
        spi3_default: spi3_default {
                group1 {
                        psels = <NRF_PSEL(SPIM_SCK,  1, 5)>,
                                <NRF_PSEL(SPIM_MOSI, 0, 10)>;
                };
        };
        spi3_sleep: spi3_sleep {
                group1 {
                        psels = <NRF_PSEL(SPIM_SCK,  1, 5)>,
                                <NRF_PSEL(SPIM_MOSI, 0, 10)>;
                        low-power-enable;
                };
        };
        pwm0_default: pwm0_default {
                group1 {
                        psels = <NRF_PSEL(PWM_OUT0, 0, 7)>,   /* INA -> P0.07 */
                                <NRF_PSEL(PWM_OUT1, 1, 5)>,    /* INB -> P1.05 */
                                <NRF_PSEL(PWM_OUT2, 0, 22)>;   /* INC -> P0.22 */
                };
        };
        pwm0_sleep: pwm0_sleep {
                group1 {
                        psels = <NRF_PSEL(PWM_OUT0, 0, 7)>,
                                <NRF_PSEL(PWM_OUT1, 1, 5)>,
                                <NRF_PSEL(PWM_OUT2, 0, 22)>;
		};
	};
};
